* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family:
    Inter,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;

  background: #f4f7f9;
  color: #17324d;
}

button,
input {
  font: inherit;
}